* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #222222;
}

/* Scroll Bar */
body::-webkit-scrollbar {
    width: 16px;
    background-color: #333333;
}

body::-webkit-scrollbar-track {
    border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #888888;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
}

html {
    scroll-behavior: smooth;
}

/* Links */
a {
    color: #0055b3;
    transition: .3s linear;
}

a:hover {
    color: #0055b3b2;
}

.inner-width {
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

section {
    padding: 40px 0;
    background-color: #222222;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
    position: relative;
    font-size: 26px;
    padding-bottom: 20px;
    color: #ffffff;
}

.section-title::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: #ffffff;
    bottom: 0;
    left: calc(50% - 40px);
}

.section-title::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    background-color: #ffffff;
    border: 4px solid #222222;
    left: calc(50% - 12px);
    bottom: -7px;
}

/* Contact Me */
.contact-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-form button,
.contact-form input,
.contact-form textarea {
    font-size: 15px;
    width: 100%;
    height: 50px;
    margin: 8px 0;
    background-color: #353b48;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 6px;
    transition: .3s linear;
}

.contact-form textarea {
    height: 200px;
    resize: none;
}

.firstname:focus,
.lastname:focus,
.email:focus,
.subject:focus,
.message:focus {
    box-shadow: 0 0 4px #ffffff;
}

.firstname,
.lastname {
    max-width: calc(50% - 10px);
}

.contact-form .btn {
    width: 170px;
    font-size: 16px;
    padding: 0;
    margin-right: auto;
    cursor: pointer;
    border-radius: 6px;
    transition: .3s linear;
}

.contact-form .btn:hover {
    background-color: #353b48b2;
}

/* Footer */
footer {
    background-color: #000000;
    color: #ffffff;
    padding: 30px 0;
    text-align: center;
}

.copyright {
    font-size: 16px;
}

/* Mobile */
@media screen and (max-width: 980px) {
    .inner-width {
        max-width: 800px;
    }

    /* Contact Me */
    .contact-form .btn {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .inner-width {
        padding: 0 20px;
    }

    .firstname, .lastname {
        max-width: 100%;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #f9f9f9;
    }

    section {
        background-color: #f9f9f9;
    }

    .section-title {
        color: #222222;
    }

    .section-title::before {
        background-color: #222222;
    }

    .section-title::after {
        background-color: #222222;
        border: 4px solid #f9f9f9;
    }
}
